
<div class="heading">
  <h3>Welcome to</h3>
  <h1>Sport Buddies</h1>
</div>

<div class="container">
  <div class="row tabs">
    <h4 class="buddies col-6">Buddies</h4>
    <h4 class="equipment col-6">Equipment</h4>
  </div>

  <div class="row home_feed">
    <%= render 'items/items' %>
    <%#= render 'profiles/profile' %>

  </div>

  <!-- <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="" data-toggle="tab">Buddies</a></li>
        <li><a href="/items/index" data-toggle="tab">Equipment</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="Buddies">
          <%#= render 'items/items' %>
        </div>
        <div class="tab-pane" id="Equipment">
          <%#= render 'profiles/profile' %>
        </div>
    </div> -->
</div>
</div>
