<h2> Equipment </h2>
<br>


<div class="container item_container secondary_bg">
  <div class="row new_item">
    <%= link_to 'New Item', new_item_path %>
    <br>
  </div>

  <%= render 'items'%>


</div>
